body{
    margin: 7%;
    background: linear-gradient( to right,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../img/Background.jpg);
    background-position: center;
    background-size: cover;

}

.container{
    width: 45%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(235, 235, 235, 0);
    border-radius: 8px;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.1);
    animation: transitionIn-Y-over 0.5s;

}
td{
    text-align: center;

}
.header-text{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: white;

}

.sub-text{
    font-size: 15px;
    color: rgb(138, 138, 138);
    color:rgba(240, 240, 240, 0.811);
}

.form-label{
    color: rgb(44, 44, 44);
    color:rgba(240, 240, 240, 0.811);
    text-align: left;
    font-size: 14px;
}
.label-td{
    text-align: left;
    padding-top: 10px;
}

.non-style-link:link, .non-style-link:visited, .non-style-link:hover, .non-style-link:active{
    text-decoration: none;
    font-weight: bold;
    color: #ffb3c1;
}


.hover-link1:hover{
    opacity: 0.8;
    transition: 0.5s;
}

.login-btn{
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    width: 100%;
}
.login-btn:hover {
    background-color: #ffc300;
    border: 1px solid #ffa200;
    color: black;
}